/* ============================================
   PORTFOLIO — Color Variables
   ============================================ */

:root {
  
  --highlight: #b0323a; //font
  --this: #406b86; //links, borders
  --cards-bg: #9cbcc6;
  --cards-border: #406b86;
  --accent: #ff7b00;
}
